* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255);
  background-image: url(/public/cf744160356f811a64cf87ff1381dbf1.png);
}

@media (max-width: 1599px) {
  * {
    font-size: 10px;
  }
}

@media (max-width: 969px) {
  * {
    font-size: 8px;
  }
}
@media (max-width: 759px) {
  * {
    font-size: 6px;
  }
}

@media (max-width: 562px) {
  * {
    font-size: 5px;
  }
}
@media (max-width: 374px) {
  * {
    font-size: 4px;
  }
}
